<ng-form class="form-mycart" novalidate>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Category</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Start Modal Body -->

				<div class="col-md-12">
					<div class="form-group" ng-class="((adminCtrl.showAddCategoryErrorMessage 
        && dataIsNullOrEmpty(adminCtrl.category.title)) || adminCtrl.showCategoryAlreadyExist ? 'has-error' : '')">
						<label id="title" for="title">Title</label> <input type="text" class="form-control" name="title"
							ng-model="adminCtrl.category.title" required capitalize maxlength="20" />
						<div class="row p-md-0 m-md-0 element-error-message">
							<ul class="p-md-0 m-md-0">
								<li ng-if="dataIsNullOrEmpty(adminCtrl.category.title)" class="p-md-0 m-md-0">This field
									is Required</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group" ng-class="(adminCtrl.showAddCategoryErrorMessage 
        && dataIsNullOrEmpty(adminCtrl.category.description) ? 'has-error': '')">
						<label id="description" for="description">Description</label> <input type="text" class="form-control"
							maxlength="30" name="description" ng-model="adminCtrl.category.description" required
							capitalize />
						<div class="row p-md-0 m-md-0 element-error-message">
							<ul class="p-md-0 m-md-0">
								<li ng-if="dataIsNullOrEmpty(adminCtrl.category.description)" class="p-md-0 m-md-0">This
									field is Required</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- End Modal Body -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" ng-click="adminCtrl.closeCategoryModal()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="adminCtrl.saveCategory()">Save changes</button>
			</div>
		</div>
	</div>
</ng-form>